In [1]:
#This is a demonstration of KNN using the breast cancer dataset from UCI
#https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/

In [10]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_validate, train_test_split
import pandas as pd

In [4]:
df = pd.read_csv('breast-cancer-wisconsin.data')

In [5]:
df

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_crom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [6]:
df.replace('?', -99999, inplace = True)

In [7]:
df.drop(['id'], 1, inplace = True)

In [9]:
X = np.array(df.drop(['class'],1))
y = np.array(df['class'])

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [13]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [14]:
accuracy = clf.score(X_test, y_test)

In [15]:
print(accuracy)

0.9642857142857143

In [22]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1]])
example_measures = example_measures.reshape(len(example_measures),-1)

In [23]:
prediction = clf.predict(example_measures)
print(prediction)

[2]